#root {
  margin: 4vh auto;
  padding: 2rem 5%;
  text-align: center;
  width: 60%;
  min-width: 480px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
  /* background-color: white; */
  position: relative;
}

.navbar-brand {
  font-weight: bold;
}

.hamburger {
  display: none;
  font-size: 24px;
  color: black;
  background: none;
  border: none;
  cursor: pointer;
  transition: transform 0.3s ease;
}

/* Rotates the icon */
.hamburger.rotated {
  transform: rotate(90deg);
}

.navbar-links {
  display: flex;
  gap: 1em;
  font-size: 24px;
}

@media (max-width: 768px) {
  .hamburger {
    display: block;
  }

  .navbar-links {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 4em;
    right: 1.5em;
    background: white;
    width: 60px;
    max-width: 80%;
    padding: 1em;
    gap: 1em;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 16px;
    text-align: center;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  }

  .navbar-links.open {
    display: flex;
  }

  .navbar-links a {
    padding: 0.5em 0;
  }
}

.projects-container {
  margin-top: 20px; /* Reduced top margin */
}

.projects-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
  padding: 0 10px; /* Added padding to prevent overlap with container edges */
}

.project-card {
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 8px;
  background-color: #def0ee;
  transition: box-shadow 0.3s;
  text-align: left; /* Added to align text to the left */
  height: auto; /* Changed height to auto to allow cards to expand as needed */
  box-sizing: border-box; /* Ensures padding and border are included in total width/height */
}

.project-card:hover {
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

.tech-stack {
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
  gap: 6px;
}

.tech-tag {
  margin-right: 2px;
  padding: 5px;
  background-color: #bcd2cf;
  border-radius: 4px;
}

.project-links {
  margin-top: 10px;
}

.project-links a {
  margin-right: 10px;
  color: #366f72;
  text-decoration: none;
}

.project-links a:hover {
  text-decoration: underline;
}
